* {
  font-family: "Ubuntu", sans-serif;
}

body {
  box-sizing: border-box;
}

label {
  font-size: small;
  font-weight: bold;
  border: #edc500 solid 2px;
  padding: 5px;
  border-radius: 10px;
  background-color: #edc500;
  margin-block-end: 5px;
}

input.inputTesto {
  border-radius: 6px;
  border: none;
  background: rgb(53, 53, 53);
  color: white;
  font-weight: bold;
  min-height: 25px;
}

.main {
  display: flex;
  justify-content: center;
}

.result {
  width: 100%;
}

.greenResult,
.redResult {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.greenResult {
  background-color: green;
  color: white;
}

.redResult {
  background-color: red;
  color: white;
}

.hide {
  display: none;
}

button {
  background-color: #edc500;
  color: black;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
